<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>Components</title>
  </head>
  <body>
    <h1>Module in ng</h1>
    <hr>
    <nav>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/aboutus" routerLinkActive="active">About Us</a></li>
        <li><a routerLink="/contactus" routerLinkActive="active">Contact Us</a></li>
      </ul>
    </nav>
    <div class="content">
    </div>
  </body>
</html>
