<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fetch Api</title>
</head>
<body>
  <h1>Fetch API</h1>
  <hr>
  <ul *ngIf="status === 'ready'">
    <li *ngFor="let user of data">
      {{ user.name }} {{ user.email }}
    </li>
  </ul>
  <!-- <div *ngIf="isLoading">Loading....</div> -->
  <!-- <ng-template #loading>Loading...</ng-template> -->
   <div *ngIf="status === 'loading'">Loading...</div>
   <div *ngIf="status === 'error'">No data</div>
</body>
</html>
